:root {
  --gb-scale: 1;
}

.gameboy-shell {
  position: relative;
  margin: 0 auto;
  width: min(90vw, 360px);
  transform: scale(var(--gb-scale));
  transform-origin: top left;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.gameboy-shell--image {
  padding: 0;
  background: transparent; /* none */
  border-radius: 0;
  box-shadow: none;
  transform-origin: top center;
}

.gameboy-stage {
  position: relative;
  width: 100%;
  /* aspect-ratio: 0.5625; */
  aspect-ratio: calc(856 / 1416);
  user-select: none;
  isolation: isolate;
}

.gameboy-shell:fullscreen .gameboy-stage {
  aspect-ratio: calc(856 / 1800);
}

.gameboy-shell-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.gameboy-shell-bg--fullscreen {
  opacity: 0;
}

.gameboy-shell:fullscreen .gameboy-shell-bg--normal {
  opacity: 0;
}

.gameboy-shell:fullscreen .gameboy-shell-bg--fullscreen {
  opacity: 1;
}

/* Slot layout positions */

.gb-slot--fullscreen {
  position: absolute;
  left: 86%;
  top: 9.5%;
}

.gb-slot--battery-led {
  position: absolute;
  left: 12.3%;
  top: 22%;
}

.gb-slot--settings {
  left: 11.5%;
  top: 15%;
}

.gb-slot--screen {
  left: 24%;
  top: 12.9%;
  width: 55%;
  height: auto;
}

.gb-slot--dpad {
  left: 12%;
  top: 58%;
}

.gb-slot--ab {
  left: 64%;
  top: 55%;
  transform: rotate(45deg);
}

.gb-slot--select-start {
  left: 20%;
  top: 82%;
  transform: rotate(-25deg);
}

/* Buttons */

.gameboy-fullscreen-button {
  position: absolute;
  width: 12px;
  height: 12px;
  padding: 0;
  background: rgba(25, 30, 40, 0.7);
}

.gameboy-fullscreen-button::after {
  border: none;
}

.gameboy-fullscreen-button:hover {
  background: rgba(35, 40, 50, 0.9);
}

.gameboy-settings-button {
  position: relative;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  background: rgba(25, 30, 40, 0.7);
}

.gameboy-settings-button::after {
  border: none;
}

.gameboy-settings-button:hover {
  background: rgba(35, 40, 50, 0.9);
}

.speed-button-wrapper {
  display: none;
  position: absolute;
  top: 265px;
  left: 245px;
  gap: 4px;
  align-items: center;
}

.speed-button {
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgb(71, 85, 105);
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);

  border-right-color: rgb(15, 56, 15);
}

.speed-button::after {
  border: none;
}

.speed-button:focus {
  background: rgb(71, 85, 105);
}

/* Screen window */

.gameboy-screen-window {
  width: 100%;
  max-width: none;
  height: 100%;
  background: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gameboy-shell:fullscreen .gameboy-screen-window {
  max-width: none;
  scale: 1.7;
  transform: translate(-3px, 8px);
  border: 1px solid gray;
}

.gameboy-shell:fullscreen .gameboy-fullscreen-button {
  display: none;
}

.gameboy-shell:fullscreen .gameboy-ab-buttons {
  transform: translate(10px, 10px);
}

.gameboy-shell:fullscreen .gameboy-select-start {
  transform: translate(0px, 50px);
}

.gameboy-shell:fullscreen .gameboy-dpad {
  transform: translate(0px, 50px);
}

.gameboy-shell:fullscreen .gameboy-settings-button {
  transform: translate(-25px, 265px);
}

.gameboy-shell:fullscreen .speed-button-wrapper {
  display: flex;
}

/* Battery LED */

.gameboy-battery {
  position: relative;

  top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;
}

.gameboy-battery-led {
  position: relative;
  right: 5px;
  width: 11px;
  height: 11px;
  border-radius: 999px;
  background: #d41f30;
  box-shadow: 0 0 8px rgba(212, 31, 48, 0.8);
}

.gameboy-battery-led--off {
  background: #3a3f46;
  box-shadow: none;
}

/* Slots */

.gb-slot {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gb-slot-screen {
  position: absolute;
  z-index: 6;
}

.gb-slot-speaker .gameboy-speaker {
  transform: none;
}

.gb-slot-dpad .gameboy-dpad {
  transform: none;
}

.gb-slot-ab .gameboy-ab-buttons {
  transform: none;
}

.gb-slot-select-start .gameboy-select-start {
  transform: none;
}

/* Desktop */

@media (min-width: 1025px) {
  :root {
    --gb-scale: 1.5;
  }

  .gameboy-shell {
    width: 380px;
  }

  .gameboy-fullscreen-button {
    display: inline-flex;
  }

  .gameboy-stage {
    transform: translateX(10%);
  }
}

/* Mobile */

@media (max-width: 767px) {
  .gameboy-shell {
    width: 100vw;
    height: 670px;
  }
  .gameboy-screen-shell {
    justify-content: center;
  }

  .gameboy-shell--image {
    width: 100vw;
    height: auto;
  }

  #root {
    height: 100dvh;
    overflow-x: hidden;
  }
}

/* Fullscreen: phone breakpoints */

/* Compact */
@media screen and (max-width: 329px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 225px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(-50px, -40px);
  }

  .gameboy-shell:fullscreen .gameboy-ab-buttons {
    transform: translate(-20px, 0);
  }
}

/* Small */
@media screen and (min-width: 330px) and (max-width: 369px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 250px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(-45px, -10px);
  }
}

/* Mid */
@media screen and (min-width: 370px) and (max-width: 394px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 270px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(-5px, 10px);
  }
}

/* Standard */
@media screen and (min-width: 395px) and (max-width: 413px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 285px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(15px, 20px);
  }
}

/* Large */
@media screen and (min-width: 414px) and (max-width: 430px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 295px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(40px, 30px);
  }
}

/* Large+ */
@media screen and (min-width: 431px) and (max-width: 719px) and (orientation: portrait) {
  .gameboy-shell:fullscreen .gameboy-settings-button {
    transform: translate(-25px, 310px);
  }

  .gameboy-shell:fullscreen .speed-button-wrapper {
    transform: translate(55px, 40px);
  }
}

/* Fullscreen: tablet portrait */

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --gb-scale: 2.2;
  }

  .gameboy-stage {
    transform: translateX(20%);
  }

  .gameboy-ab-buttons {
    transform: translate(-10px, 0px) !important;
  }
}
