.gameboy-select-start {
  display: flex;
  gap: 18px;
  transform: translateX(20px) translateY(-20px) rotate(-25deg);
}

.gameboy-pill {
  width: 70px;
  height: 16px;
  border-radius: 50px;
  background: linear-gradient(180deg, #55585b 0%, #303336 100%);
  box-shadow: 0 3px 2.5px rgba(0, 0, 0, 0.4);
  position: relative;
  --pill-base-translate-y: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(var(--pill-base-translate-y));
  transition: transform 80ms ease;
}

.gameboy-pill:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  filter: brightness(0.9);
}

.gameboy-pill span {
  font-size: 9px;
  letter-spacing: 0.2em;
  color: #303456;
  font-weight: 700;
  transform: translateY(20px) translateX(-20px);
}

.gameboy-pill label {
  font-size: 9px;
  letter-spacing: 0.2em;
  color: rgb(129, 129, 129);
  font-weight: 700;
  transform: translateX(20px);
}

.gameboy-pill-start {
  font-size: 9px;
  --pill-base-translate-y: 20px;
}

@media (max-width: 768px) {
  .gameboy-pill label {
    display: none;
  }

  .gameboy-pill span {
    transform: translate(-2px, 20px);
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .gameboy-pill label {
    display: none;
  }

  .gameboy-pill span {
    transform: translate(-2px, 20px);
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .gameboy-pill label {
    display: none;
  }

  .gameboy-pill span {
    transform: translate(-2px, 20px);
  }
}
